/vendor/
/node_modules/

.env
.env.backup
.env.production
.env.local

.phpunit.result.cache

/public/hot
/public/storage

/storage/*.key
/storage/pail

/bootstrap/cache/*.php

# Laravel IDE files
/.fleet
/.idea
/.vscode

# Vite
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

